<div id="<%= dom_id recipe %>" class="recipe_container2">
  <div class="block3">
    <h4 class="recipe_title2">
      <%= link_to recipe.title, recipe %>
    </h4>

  </div>
    <p class="recipe_description2">
      <%= recipe.description %>
    </p>

</div>
