<div id="<%= dom_id recipe %>" class="recipe_container">
  <div class="block1">
    <h4 class="recipe_title">
      <%= link_to recipe.title, recipe %>
    </h4>
    <p><%= button_to "Delete recipe", recipe_path(recipe), class: "remove", method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" } %></p>
  </div>
    <p class="recipe_description">
      <%= recipe.description %>
    </p>

</div>
